.benefits(id="benefits")
  .benefits__heading
    h4.benefits__heading__title
      span.benefits__heading__title--highlighted tere 
      | benefits

  .benefits__content
    .benefits__item
      .benefits__item__heading
        h4.benefits__number 01.
        p.benefits__title Flexible working hours
      p.benefits__descriptions You can decide when, and how much time you want to drive.
      img.benefits__item__image(alt='this is clock man image' src=require("../../images/clock-man.png"))

    .benefits__item
      .benefits__item__heading
        h4.benefits__number 02.
        p.benefits__title Earnings
      p.benefits__descriptions By driving with tere you can earn more.
      img.benefits__item__image(alt='this is earnings image' src=require("../../images/earnings.png"))

    .benefits__item
      .benefits__item__heading
        h4.benefits__number 03.
        p.benefits__title Customer support 24/7
      p.benefits__descriptions Tere is a local service provider
        | and we are proud to support you in your local language.
        | We are proud to be at your service 24/7!
      img.benefits__item__image(alt='this is support image' src=require("../../images/support.png"))

    .benefits__item
      .benefits__item__heading
        h4.benefits__number 04.
        p.benefits__title Customer support 24/7
      p.benefits__descriptions Tere is a local service provider
        | and we are proud to support you in your local language.
        | We are proud to be at your service 24/7!
      img.benefits__item__image(alt='this is support image' src=require("../../images/support.png"))

    .benefits__item
      .benefits__item__heading
        h4.benefits__number 05.
        p.benefits__title Customer support 24/7
      p.benefits__descriptions Tere is a local service provider
        | and we are proud to support you in your local language.
        | We are proud to be at your service 24/7!
      img.benefits__item__image(alt='this is support image' src=require("../../images/support.png"))